.slider1{
    
    background-image: url('../../assets//Images/img_bg_1.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
  
}
.slider2{

background-image: url('../../assets//Images/img_bg_2.jpg');
background-size: cover;
background-position: bottom center;
height: 100vh;

}

.headslider{
    padding: 0 15% !important;
}

.headslider h1 {
    
    margin-bottom: 20px;
    font-size: 56px;
    line-height: 1.3;
    font-weight: 600;
    color: #212020;
    font-family: Playfair Display, Georgia, serif;
    letter-spacing: 2px;
    }
    

.headslider p {
    font-size: 18px;
    /* line-height: 1.5; */
    margin-bottom: 30px;
    /* font-weight: 100; */
    font-family: Quicksand, Arial, sans-serif;
    color: #424141;
}
@media screen and (min-width: 992px) {
        .text-lg-start {
            text-align: left !important;
    }
}

.headslider p a {
    color: #69a6df;
    text-decoration: underline;
    padding-left: 0.5rem;
    letter-spacing: 1px;
}

.headslider button {
    color: #000;
    border: 1px solid #000;
    background: transparent !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 15px !important;
    font-weight: 400;
    width: fit-content;
    border-radius: 0;
    font-family: Quicksand, Arial, sans-serif;
}
.headslider button:hover {
    color: #000;
    border: 1px solid #000;
}